<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starrainnotes.tutorial.content.mapper.TutorialQuestionCardMapper">
 <select id="cardIds" resultType="java.lang.Long">SELECT knowledge_card_id FROM sr_tutorial_question_card WHERE question_id=#{questionId} ORDER BY sort_order,id</select>
 <delete id="deleteQuestion">DELETE FROM sr_tutorial_question_card WHERE question_id=#{questionId}</delete>
 <delete id="deleteCard">DELETE FROM sr_tutorial_question_card WHERE knowledge_card_id=#{cardId}</delete>
 <insert id="insert">INSERT INTO sr_tutorial_question_card(question_id,knowledge_card_id,sort_order) VALUES(#{questionId},#{cardId},#{sortOrder})</insert>
</mapper>
